header {
    background-color: map-get($colores, colorPrimario);
    display: flex;
    width: 100%;

    .divLogo {
        width: 50%;
        .logoImg {
            width: 15%;
            min-width: 150px;
        img {
            padding: 5px;
            width: 100%;
        }
        }
        
    }
}