ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.boton {
    margin-top: 20px;
    height: 40px;
    width: 120px;
}

.btn_iniciar_sesion {
    @extend .boton;
    background-color: map-get($colores, colorBotonIniciarSesion);
}

.btn_registrarse {
    @extend .boton;
    margin-right: 20px;
    background-color: map-get($colores, colorBotonRegistrarse);
}

.botones {
    width: 100px;
    height: 50px;
}